doctype html
html
    head
        title Page user
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    body
        h1
            span #{message}
            span name of the user : #{userName}